* {
    padding: 0px;
    margin: 0px;
}
.home {
    min-height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: auto;
    align-items: center;
    text-align: center;
}

.hello {
    margin-top: 30vh;
    margin-bottom: 50px;
}

.hello h1 {
    font-weight: 100;
    font-size: 12rem;
}

.text p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
}
