* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    position: fixed;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.name {
    color: #fff;
    margin: 10px 20px;
}

.links {
    margin: 10px;
}

a {
    display: inline-block;
    margin: 0px 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: transform 0.5s;
}

a:hover {
    transform: skewX(-10deg);
}

a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
}
