.about,
.resume,
.projects,
.contact {
    min-height: 100vh;
    padding: 60px 20px;
}

.about h1,
.resume h1,
.projects h1,
.contact h1 {
    font-size: 5rem;
}

.about .line,
.resume .line,
.projects .line,
.contact .line {
    border-bottom: 1px solid #fff;
    margin: 10px 0px;
}
